# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/SAM4E8E_RTOS/
/Alligator/
/RADDS/
/RADDS_RTOS/
/SAM3X8E/
/SAM3X8E_RTOS/
/SAM4E8E/
/SAM4S/
/SAM4S_RTOS/
/SAM4S_RTOS_PCCB/
/SAME70/
/SAME70XPLD/
/SAME70XPLD_RTOS/
/SAME70_RTOS/

# Eclipse
.settings/language.settings.xml
